{


    "globals": {
        "plan": false,
        "directions": false,
        "randomElement": false,
        "Vector": false,
        "Animal": false,
        "World": false,
        "Wall": false,
        "Sliden": false,
        "Human": false,
        "charFromElement": false,
        "Grid": false,
        "View": false
    },

    "env": {
    
    "browser": true
    
    },
    
    "extends": "eslint:recommended",
    
    "parserOptions": {
    
    "ecmaVersion": 2017
    
    },
    
    "rules": {

    "no-console": 0,

    "indent": [
    
    "error",
    
    4
    
    ],
    
    "linebreak-style": [
    
    "error",
    
    "windows"
    
    ],
    
    "quotes": [
        
        "error",

        "single"

],

"semi": [

"error",

"always"

]

}

}